body {
	font-family:
		-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	font-smooth: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: auto;
}
