# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI
permissions:
    contents: read

on:
    push:
        branches: [master]
    pull_request:
        branches: [master]

jobs:
    build:
        runs-on: ubuntu-latest
        env:
            NODE_ENV: test
            NODE_OPTIONS: '--trace-warnings --trace-deprecation'
            CI: true

        services:
            redis:
                image: redis:latest
                ports:
                    - 6379:6379
                options: >-
                    --health-cmd "redis-cli ping || exit 1"
                    --health-interval 5s
                    --health-timeout 5s
                    --health-retries 5

        strategy:
            matrix:
                node-version: [22.x]
                # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

        steps:
            - name: Install Chromium dependencies
              run: |
                sudo apt-get update
                sudo apt-get install -y \
                  libnss3 \
                  libx11-xcb1 \
                  libxcomposite1 \
                  libxcursor1 \
                  libxdamage1 \
                  libxi6 \
                  libxtst6 \
                  libpangocairo-1.0-0 \
                  libxrandr2 \
                  libasound2t64 \
                  libatk1.0-0 \
                  libatk-bridge2.0-0 \
                  libx11-6 \
                  libxss1 \
                  libglib2.0-0 \
                  libgbm1
            - uses: actions/checkout@v2
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: 'npm'
            #- run: apt install libnss3-tools
            - run: curl -sSL -o ./mkcert -O https://github.com/FiloSottile/mkcert/releases/download/v1.4.1/mkcert-v1.4.1-linux-amd64 && chmod +x ./mkcert
            - run: ./mkcert -install
            - run: npm i
            - run: npm run lint
            - run: mkdir -p certs && cd certs && ../mkcert localhost 127.0.0.1 ::1
            - run: npm run build
            - run: npm run check-build
            - run: npm run build-cucumber-support-files
            - run: npm run cover
            - run: node --max-old-space-size=4096 ./node_modules/.bin/cucumber-js --no-strict --exit
