name: Publish to npm

on:
    push:
        tags:
            - 'v*' # Triggers only for tags that start with 'v' (e.g., v1.0, v1.1.0)
    workflow_dispatch:

permissions:
    contents: read # Required for actions/checkout to read the repository
    id-token: write # Optional, for OIDC-based authentication if using cloud services

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Set up Redis
              uses: zhulik/redis-action@1.1.0

            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Install dependencies
              run: npm ci
            - run: curl -sSL -o ./mkcert -O https://github.com/FiloSottile/mkcert/releases/download/v1.4.1/mkcert-v1.4.1-linux-amd64 && chmod +x ./mkcert
            - run: ./mkcert -install
            - run: mkdir -p certs && cd certs && ../mkcert localhost 127.0.0.1 ::1
            - run: npm run build
            - run: npm run check-build
            - name: Run tests
              run: npm test

    publish:
        needs: build
        runs-on: ubuntu-latest
        permissions:
            contents: read # Needed to read repository content
            id-token: write # Optional, for OIDC-based authentication

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: '24' # or the node version you're using
                  registry-url: 'https://registry.npmjs.org/'

            - name: Install dependencies
              run: npm ci

            - run: npm run build
            - run: npm run check-build

            - name: Check package is good to publish
              run: npm run lint:package

            - name: Publish to npm
              run: npm publish --provenance